<%- include('partials/header') -%>

<div class="create-join-room">
    <div class="create-join-room-header">
        Come on, let's play!
    </div>
    <div class="create-join-room-options">
        <div class="create-room">
            <!-- <div class="create-room-img">
                <img src={createBg} />
            </div> -->
            <div class="create-room-header">
                CREATE A ROOM
            </div>
            <div class="create-room-button">
                <a href="/room/<%= id %>/settings">CREATE</a>
            </div>
        </div>
        <div class="join-room">
            <!-- <div class="join-room-img">
                <img src={joinBg} />
            </div> -->
            <div class="join-room-header">
                JOIN A ROOM
            </div>
            <div class="join-room-button">
                <a href="">JOIN</a>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>
