<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../models/createRoomCopyCode.js"></script>
    <script>
        function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        copyMessage();
        $temp.remove();
    }
    function copyMessage(){
        document.getElementById("#btn").innerHTML = "Copied!";
    }
    
    </script>
    <link rel="stylesheet" href="/stylesheets/createRoom.css">
    
    <title>What do you meme?</title>
</head>
<body>
    
<div class="page">
<div class="create-room-page">
    <div class="share-code">

        <h3 style="color:cornsilk;">Copy this code and share with your friends</h3>
        
        <div class="room-code">
            <p>Render the room code here</p>
            <p id="room_code">Room Code ABC</p>
        
            <div class="copy-code">
                <button id="btn" onclick="copyToClipboard('#room_code')" >Copy Room Code</button>
            </div>
            <!-- copyToClipboard('#room_code') -->
            <!-- document.getElementById("room_code").innerHTML = "Copied!" -->
        </div>

    </div>
    <div class="player-usernames">
        
        <h3>Player Username</h3>
        <h3>Player Username</h3>
        <h3>Player Username</h3>
        <h3>Player Username</h3>
        <h3>Player Username</h3>
    </div>
    <div class="start-game">
        <a href="">Start the game</a>
    </div>
</div>
</div>

<%- include('partials/footer') -%>