<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/gameScreen1.css">
    
    <title>What do you meme?</title>
</head>
<body>

<div class="game-screen">
    <div class="header"> <!--flex-->
        <div class="game-logo">
            What do you meme?
        </div>
        <div class="quit-button">
            <button>Quit Game</button>
        </div>
    </div>
    <div class="game-panel"> <!--flex-->

        <div class="leaderboard">
            LEADERBOARD
        </div>
        <div class="response-area">
            <div class="scenario">
                SCENARIO
            </div>
            <div class="memes">
                MEMES
            </div>
            <div class="submit-button">
                <button>Submit</button>
            </div>
        </div>

    </div>
    
    
    
</div>


<%- include('partials/footer') -%>