<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    
    <title>What do you meme?</title>
</head>
<body>

<div class="landing-page">
    <div class="landing-page-left">
        <div class="landing-page-left-header">
            What do you MEME?
        </div>
        <div class="landing-page-left-description">
            Ready to "meme" along your buddies?
        </div>
        <div class="landing-page-left-button">
            <a href="/choices">Get Started</a>
        </div>
    </div>
</div>



<%- include('partials/footer') -%>
