@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.help {
  background-color: #fffcee;
  align-self: flex-end;
}
.btn-primary {
  font-size: large;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  /* font-size: 2em;
    font-weight: bold;*/
  border-radius: 50%;
  background-color: #0b1e3f;
  color: white;
  text-align: center;
  cursor: pointer;
}
.btn-primary:hover {
  color: #fff;
  font-weight: bolder;
  background-color: #13346b;
}
.collapse {
  background-color: #fcf2c9;
  color: black;
  align-self: center;
  border-style: solid;
  border-width: thick;
  border-radius: 30px;
  font-family: "Fredoka One", cursive;
  font-weight: 500;
  padding: 20px;
  font-size: medium;
  
}
.card-body-header {
  text-align: center;
}
.create-join-room {
  margin: 0px;
  background-color: #fffcee;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
}

.create-join-room-header {
  font-family: "Fredoka One", cursive;
  font-size: 50px;
  font-weight: 900;
  padding: 20px;
  color: #0b1e3f;
  text-align: center;
}

.create-join-room-options {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  justify-content: space-evenly;
}

.create-room {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 30px;
  min-height: 350px;
  max-width: 400px;
  min-width: 400px;
  border-radius: 20px;
  background-image: url("../assets/createImg.png");
  background-size: cover;
  text-align: center;
}

.create-room-header {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 30px;
  color: white;
  font-weight: 800;
}

.create-room-button {
  text-align: center;
  margin-top: 20px;
}

.create-room-button > a {
  text-decoration: none;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bolder;
  padding: 10px;
  background-color: #ffd765;
  color: #ff7063;
  text-align: center;
  font-size: larger;
  border-style: hidden;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
}

.join-room {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 30px;
  min-height: 350px;
  max-width: 400px;
  min-width: 400px;
  border-radius: 20px;
  background-image: url("../assets/joinImg.png");
  background-size: cover;
}

.join-room-header {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 30px;
  color: white;
  font-weight: 800;
  text-align: center;
}

.join-room-button {
  text-align: center;
  margin-top: 20px;
}

.join-room-button > a {
  text-decoration: none;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bolder;
  padding: 10px;
  background-color: #0fdc99;
  color: white;
  text-align: center;
  font-size: large;
  border-style: hidden;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
}
