.page{
    background:#0b1e3f;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

.create-room-page{
    text-align: center;
    margin: auto;
    margin-top: 30px;
    background-color: #ff7063;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-style: outset;
    border-width: thick;
    border-radius: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
}
.player-usernames{
    font-family: monospace;
}
.start-game>a{
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    padding: 10px;
    background-color:green;
    color: white;
    text-align: center;
    font-size: large;
    border-style: hidden;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
}
.room-code .copy-code>button{
    border-radius: 5px;
    width: 150px;
    background-color: #0fdc99;
    color: rgb(245, 24, 98);
    border-style: hidden;
    font-family: cursive;
    font-size: large;
}
