.start-game>a{
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    padding: 10px;
    background-color: #0fdc99;
    color: #d9ebe3;
    text-align: center;
    font-size: large;
    border-style: hidden;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
}