.game-screen{
    width: 100%;
    background-color: #fffcee;
    padding: 30px;
}

.response-area{
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.scenario{
    height: 150px;
    width: 1000px;
    background-color: #fcf2c9;
    border-radius: 20px;
    border-style: hidden;
    align-items: center;
    align-content: center;
    padding-left: 100px;
    padding-right: 100px;
}
.scenario-text-input{
    width: 800px;
    height: fit-content;
    border-style: hidden;
    background-color: #fcf2c9;
    align-self: center;
}
.scenario-header{
    text-align: center;
    color: black;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.memes{
    width: 1000px;
    height: 320px;
    background-color: #fcf2c9;
    border-radius: 20px;
    text-align: center;
    color: black;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    border-style: hidden;
    align-items: center;
    padding-top: 20px;
    align-items: center;
}
.meme-img{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    padding-top: 20px;
}
.checkbox{
    height: 20px;
    width: 20px;
}
.header{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    width: 100%;
    align-content: center;
    justify-content: space-between;
}

.game-logo{
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    font-weight: 900;
    padding-left: 40px;
    color: #0b1e3f;
    text-align: left;
}
.memes-memes{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: space-between;
    padding-left: 75px;
}
.meme-checkbox-set{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 10px;
}
.quit-button>button{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    padding: 10px;
    background-color: #ff7063;
    color: white;
    text-align: center;
    font-size: larger;
    border-style: hidden;
    cursor: pointer;
    border-radius: 5px;
    width: 130px;
    align-self: flex-end;
}

.submit-button{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    padding: 10px;
    background-color: #3e8769;
    color: white;
    text-align: center;
    font-size: larger;
    border-style: hidden;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    align-self: center;
}