@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.landing-page{
    padding: 20px;
    background-color: #fffcee;
    background-image: url("../assets/landingImg.png");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.landing-page-left .landing-page-left-header{
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    font-weight: bolder;
    color: #0b1e3f;
    margin-top: 150px;
    text-align: left;
}
.landing-page-left .landing-page-left-description{
    margin-top: 30px;
    color: #716460;
    font-weight: 450;
    font-size: larger;
    text-align: left;
}
.landing-page-left .landing-page-left-button{
    text-align: left;
    padding-top: 30px;
}
.landing-page-left .landing-page-left-button>a{
    text-decoration: none;
    margin-top: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    background-color: #ff7063;
    width: 150px;
    border-radius: 5px;
    color: #fffcee;
    text-align: center;
    font-size: 20px;
    border-style: hidden;
    cursor: pointer;
    padding: 10px;
}
