@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.help{
    background-color: #fffcee;
    align-self: flex-end;
}

.collapse{
    align-self: center;
}

.landing-page{
    padding: 20px;
    background-color: #fffcee;
    background-image: url("../assets/landingImg.png");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.landing-page-left .landing-page-left-header{
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    font-weight: bolder;
    color: #0b1e3f;
    margin-top: 150px;
    text-align: left;
}
.landing-page-left .landing-page-left-description{
    margin-top: 30px;
    color: #716460;
    font-weight: 450;
    font-size: larger;
    text-align: left;
}
.landing-page-left .landing-page-left-button{
    text-align: left;
}
.landing-page-left .landing-page-left-button>button{
    margin-top: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    background-color: #ff7063;
    width: 150px;
    border-radius: 5px;
    color: #fffcee;
    text-align: center;
    font-size: 20px;
    border-style: hidden;
    cursor: pointer;
    padding: 10px;
}
.create-join-room{
    margin: 0px;
    background-color: #fffcee;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
}

.create-join-room-header{
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    font-weight: 900;
    padding: 20px;
    color: #0b1e3f;
    text-align: center;
}

.create-join-room-options{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    justify-content: space-evenly;
}

.create-room{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 30px;
    min-height: 350px;
    max-width: 400px;
    min-width: 400px;
    border-radius: 20px;
    background-image: url("../assets/createImg.png");
    background-size: cover;
    text-align: center;
}

.create-room-header{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 800;
}

.create-room-button{
    text-align: center;
}

.create-room-button>button{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    padding: 10px;
    background-color: #ffd765;
    color: #ff7063;
    text-align: center;
    font-size: larger;
    border-style: hidden;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
}

.join-room{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 30px;
    min-height: 350px;
    max-width: 400px;
    min-width: 400px;
    border-radius: 20px;
    background-image: url("../assets/joinImg.png");
    background-size: cover;
    text-align: center;
}

.join-room-header{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 800;
}

.join-room-button{
    text-align: center;
}

.join-room-button>button{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    padding: 10px;
    background-color: #0fdc99;
    color: #3e8769;
    text-align: center;
    font-size: larger;
    border-style: hidden;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
}