.landing-page{
    margin: 0px;
    padding: 30px;
    background-color: #fffcee;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.landing-page-bg{
    height: 560px;
    
}
.landing-page-bg>img{
    width: 100%;
    height: 100%;
}

.landing-page-left .landing-page-left-header{
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    font-weight: bolder;
    color: #0b1e3f;
    margin-top: 150px;
    text-align: left;
}
.landing-page-left .landing-page-left-description{
    margin-top: 30px;
    color: #716460;
    font-weight: 450;
    font-size: larger;
    text-align: left;
}
.landing-page-left .landing-page-left-button{
    text-align: left;
}
.landing-page-left .landing-page-left-button>button{
    margin-top: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    background-color: #ff7063;
    width: 150px;
    border-radius: 5px;
    color: #fffcee;
    text-align: center;
    font-size: larger;
    border-style: hidden;
    cursor: pointer;
}