<%- include('../partials/header') -%>

<h1>This is the invite page</h1>

<h3>Share this with your friends</h3>
<p> <%= id %></p>


<a href="/room/<%=id%>/play"> Start the game </a>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
