<%- include('../partials/header') -%>

<h1>This is the join page</h1>

<input type="text" placeholder="Enter Room Key" id="key">

<button id="joinRoom">Join Room</button>

<script>
    document.getElementById('joinRoom').addEventListener('click', ()=> {
        console.log(document.getElementById('key').value);
        let id = document.getElementById('key').value;
        location.replace(`/room/${id}/settings`);
    });

</script>

</body>
</html>