<h1>Settings page</h1>

<h3>Share this id with your friends</h3>
<p><%= id %></p>

<h3>Player Username</h3>
<h3>Player Username</h3>
<h3>Player Username</h3>
<h3>Player Username</h3>
<h3>Player Username</h3>

<a href="/room/<%= id %>/play">Start the game</a>