<%- include('../partials/header') -%>
<div class="settings-page">
<div class="settings-header">Game Settings</div>

<form action="/room/<%= id %>" method="POST">
    <input type="text" placeholder="username" name="username">
    <% if (users.length == 0) { %>
        <input class="settings-input" type="text" placeholder="rounds" name="rounds">
    <% } %>
    <br><input class="settings-submit" type="submit">
</form>
</div>
<%- include('../partials/footer') -%>