<%- include('../partials/header') -%>

<h1>Settings page</h1>

<form action="/room/<%= id %>" method="POST">
    <input type="text" placeholder="username" name="username">
    <% if (users.length == 0) { %>
        <input type="text" placeholder="rounds" name="rounds">
    <% } %>
    <input type="submit">
</form>

<%- include('../partials/footer') -%>